# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# SQLite Data
data/*.db
*.sqlite3

# Temp audio files & uploads
temp_audio/
*.wav
*.mp3

# Testing & IDE
.pytest_cache/
.vscode/
.idea/
